.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 5px; */
}

.header-content {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-btn {
  color: rgba(255, 255, 255, 0.7);
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.header-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #8b7cf6;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.header-btn:hover {
  color: white;
}

.header-btn:hover::after {
  transform: scaleX(1);
}

.header-btn.active {
  color: white;
}

.header-btn.active::after {
  transform: scaleX(1);
}