.cost-modal {
  background: rgb(0, 0, 0);
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.cost-modal-date {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.cost-modal-value {
  margin: 0;
  font-size: 14px;
}
