.cost-container {
  max-width: 70%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

pre {
  background: #000000;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
}
