.message-view-container {
  display: flex;
  height: 100%;
  gap: 16px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.chat-id {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.chat-id.active {
  background-color: #8884d8;
  color: white;
  font-weight: bold;
}

.chat-id.inactive {
  background-color: #717171;
  color: white;
}

.chat-id.inactive:hover {
  background-color: #e0e0e0;
}

/* Messages Panel */
.messages-panel {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* User and AI messages */
.message-pair {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user-message, .ai-message {
  padding: 12px;
  border-radius: 8px;
  max-width: 80%;
}

.user-message {
  background-color: #9f4dbd; /* light blue */
  align-self: flex-start;
}

.ai-message {
  background-color: #534292; /* light green */
  align-self: flex-end;
}

.message-label {
  font-weight: bold;
  margin-bottom: 4px;
}

.message-content {
  font-size: 14px;
  line-height: 1.4;
}

.timestamp {
  font-size: 10px;
  color: #cbcbcb;
  margin-top: 4px;
  text-align: right;
}

/* Spinner for loading */
.message-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #8884d8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.message-spinner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.expand-button-container {
  text-align: right;
}


.expand-button {
  margin-top: 4px;
  background-color: transparent;
  color: rgb(190, 220, 255);
  border: none;
}

.expand-button:hover {
  cursor: pointer;
}

.formatted-message pre {
  white-space: pre-wrap;
  font-size: 10px;
  color: #cbcbcb;
  margin-top: 4px;
}


