.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 35%;
  background-color: #8884d8;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: -4px 4px 10px rgb(59, 59, 59);
}

.login-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  padding-left: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
}

.input-field {
  color: black;
  background-color: #D9D9D9;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
}

.login-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 25px;
  width: 77.5%;
}

.login-btn {
  background-color: #006DD2;
  color: white;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 8px;
  width: 100%;
}

.login-btn:hover {
  cursor: pointer;
  background-color: grey;
}

.input-header {
  color: black;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 12px;
}